* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    background-color: #fff;
}

.box {
    position: relative;
    min-height: 100vh;
    color: #fff;
    margin-top: 55px;
}

.box video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92vh;
    object-fit: cover;
    z-index: -1;
}

.box h1 {
    text-align: left;
}


#profil {
    margin-top: -70px;
    background-color: #F6F1ED;
    padding-bottom: 100px;
    padding-top: 100px;
}

.profil-card {
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
}

.profil-text {
    font-size: 16px;
}

#use {
    background-color: #F6F1ED;
    padding-top: 80px;
    padding-bottom: 100px;
}


/* Varian Home */
#varian {
    /* padding-bottom: 170px; */
    padding-top: 5px;
    margin-top: -60px;
}

.img-varian-home {
    margin-top: -120px;
}

.varian-list {
    font-size: 40px;
    font-weight: bold;
}

/* gambar-icon */
.varian-icon {
    width: 75px;
    height: 75px;
}

.varian-list a {
    text-decoration: none;
    color: inherit;
}

#spotify {
    background-color: #F7F4F3;
    margin-top: -55px;
    padding-top: 60px;
    padding-bottom: 50px;
}

#spotify img {
    width: 75%;
    height: auto;
}

.btn-spotify {
    background-color: #FF8227;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    margin-top: -110px;
    margin-left: -60px;
}

.btn-spotify:hover {
    background-color: #FFA94D;
}


#shop {
    background-color: #F7F4F3;
    padding-top: 80px;
    padding-bottom: 50px;
}

.shop-card {
    padding: 20px;
}

#kontak {
    margin-top: -70px;
    background-color: #F7F4F3;
    padding-bottom: 100px;
    padding-top: 100px;
}

.kontak-list {
    font-size: 18px;
    font-weight: normal;
    margin-left: 20px;
}

.kontak-list a {
    text-decoration: none;
    color: inherit;
}

.sosmed-icon {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .img-profil {
        display: none;
    }

    .img-judul-varian {
        width: 100%;
        height: 100%;
    }

    .img-judul-profil {
        width: 50%;
        height: auto;
    }

    .profil-text {
        font-size: 12px;
    }

    .img-use {
        width: 50px;
        height: 50px;
    }

    .use-title {
        font-size: 20px;
    }

    .use-desc {
        font-size: 12px;
    }

    #spotify {
        padding-top: 40px;
        margin-top: -80px;
    }

    #spotify img {
        width: 100%;
        height: 100%;
    }

    .btn-spotify {
        position: relative;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
        width: 30%;
        margin-left: 0;
    }

    #shop {
        background-color: #F7F4F3;
        padding-top: 0;
        padding-bottom: 50px;
    }

    .sosmed-icon {
        margin-left: 0;
        margin-right: 0;
        width: 60px;
        height: 60px;
    }
}


.box1 {
    position: relative;
    min-height: 100vh;
    color: #fff;
    margin-top: 55px;
}

.box1 video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92vh;
    object-fit: cover;
    z-index: -1;
}

.box2 {
    position: relative;
    min-height: 100vh;
    color: #fff;
    margin-top: 55px;
}

.box2 video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92vh;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 1000px) {
    .box1 {
        min-height: 450px;
    }

    .box1 video {
        height: auto;
    }
}

@media (max-width: 1024px) {
    #profil {
        margin-top: -250px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .img-varian-home {
        display: none;
    }
}

/* beda page */
/* Per Varian */
#beranda {
    background-color: #ADA9DC;
    padding-bottom: 170px;
    padding-top: 150px;
}

.beranda-card {
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    margin-left: 100px;
}

.beranda-text {
    font-size: 18px;
}


#manfaat {
    margin-top: -70px;
    background-color: #ADA9DC;
    padding-bottom: 120px;
    padding-top: 100px;
}

#kontraindikasi {
    margin-top: -70px;
    background-color: #ADA9DC;
    padding-bottom: 100px;
    padding-top: 100px;
}

#pemanfaatan {
    margin-top: -70px;
    background-color: #ADA9DC;
    padding-bottom: 20px;
    padding-top: 100px;
}

.manfaat1 {
    background-color: #F5E4D6;
    padding: 20px;
    margin-top: 50px;
}

.manfaat2 {
    background-color: #F1F6E1;
    padding: 20px;
    margin-top: 50px;
}

.kontraindikasi {
    background-color: #F1F6E1;
    padding: 20px;
    margin-top: 50px;
}

.kontraindikasi-title {
    font-size: 17px;
    font-weight: bold;
    color: #4F2F17;
}

.kontraindikasi-peppermint{
    background-color: #E4DCD1;
}

@media (max-width: 768px) {
    .logo {
        width: 50%;
        height: auto;
    }

    #beranda {
        padding-top: 65px;
        padding-bottom: 0;
    }

    .img-beranda {
        width: 60%;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
    }

    .sub-title {
        margin-top: -30px;
        font-size: 14px;
    }

    .beranda-card {
        margin-top: 0;
        margin-left: 0;
    }

    .beranda-text {
        font-size: 14px;
    }

    #manfaat {
        margin-top: -80px;
        padding-bottom: 40px;
    }

    .manfaat1 {
        margin-top: 25px;
    }

    #kontraindikasi {
        margin-top: 0;
        padding-bottom: 100px;
        padding-top: 0;
    }

    .kontraindikasi {
        margin-top: 0;
    }

    #pemanfaatan {
        margin-top: -70px;
        background-color: #ADA9DC;
        padding-bottom: 0;
        padding-top: 20px;
    }

    iframe .pemanfaatan {
        width: 100%;
    }
}




